@import 'colours';


.values-wrapper{
display: flex;
position: relative;
flex-direction: column;
align-items: center;
background: url('../../public/assets/bg-reverse.png');
background-position: right top;
background-size: cover;

top: -10px;
// height: 300vh;
}

.charter-container, .values-container{
    
    border: 2px solid white;
    height: auto;
    width: 100vh;
    overflow: hidden;
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 150px ;
    color: white;
    background-color: $blue;
    margin-bottom: 100px;
    padding-left: 50px;
    padding-top: 50px;
    padding-right: 50px;
    p{
        font-size: 12px;
        margin-bottom: 10px;
        font-weight: 400;
        padding-left: 30px;
    }
    h2{
        
    }
    h4{
        font-size: 16px;
        margin-bottom: 30px;
        margin-top: 30px;

    }

    .values-heading{
        color: white;
        font-size: 22px;
        text-decoration: underline;
        text-decoration-color: $red;
        
    }

    &:first-child:is(p){
        padding-left: 0px;
    }

}

.values-container{
    
    background-position:center;
    background-size: cover;
    top: 5vh;
}

.charter-container{
    // top: 160vh;
}

@media screen and (max-width: 1200px) {
    
    .charter-container, .values-container{
        width: 100vw;
        height: auto;
        padding: 20px 20px;
        padding-bottom: 200px;
        margin-bottom: 200px;
        border: none;
        p{
            font-size: 16px;
        }

    }
    .values-container{
        top: 150vh;
    }
    .charter-container{
        top: 5vh;
    }
    
   
}
