@import 'colours';


.values-wrapper{
display: flex;
flex-direction: column;
align-items: center;
}

.charter-container, .values-container{
    height: auto;
    width: 100vh;
    overflow: hidden;
    display: flex;
    position: absolute;
    flex-direction: column;
    margin-top: 150px ;
    color: white;
    background-color: $blue;
    p{
        font-size: 16px;
        margin-bottom: 10px;
        font-weight: 400;
        padding-left: 30px;
    }
    h2{
        margin-bottom: 30px;
    }

    &:first-child:is(p){
        padding-left: 0px;
    }

}

.values-container{
    top: 90vh;
}

.charter-container{
    top: 0;
}
